
<EditForm Model="@command" OnValidSubmit="@CreateEntryComment">
    <div class="entry-comment-add-container">
        <div class="entry-comment-add">
            <InputTextArea @bind-Value="command.Content" class="entry-comment-textarea" />
        
            <div class="entry-comment-actions">
                <input type="submit" class="btn btn-success btn-sozluk" value="Gönder" />
            </div>
        </div>
    </div>
</EditForm>


@code {
    [Parameter]
    public Guid? EntryId{ get; set; }

    [Parameter]
    public string EntrySubject { get; set; }

    private string placeHolderText => $" '{EntrySubject}' konusu hakkında bilgi verin.";

    private CreateEntryCommentCommand command = new CreateEntryCommentCommand();

    [Parameter]
    public EventCallback<CreateEntryCommentCommand> OnClicked { get; set; }

    public async Task CreateEntryComment()
    {
        command.EntryId = EntryId;

        await OnClicked.InvokeAsync(command);

        command = new CreateEntryCommentCommand();
    }
}
